---
const stiker = '/IMG_0230.jpeg';
---
<div class="relative md:mb-0 flex items-center justify-center px-4 py-3 sm:py-8 md:py-0">
  <div class="absolute inset-0 w-full h-full rounded-full bg-mariner-400 opacity-40 blur-2xl animate-pulse scale-110"></div>
  <img
    src={stiker}
    alt="Abraham Vilches"
    class="relative w-40 h-40 sm:w-40 sm:h-40 md:w-52 md:h-52 rounded-full border-4 border-[#5db8fd] shadow-xl object-cover z-10 hover:scale-105 transition-transform duration-500 aspect-square bg-mariner-900"
    style="min-width: 128px; min-height: 128px;"
  />
</div> 