---
const { title } = Astro.props;
---
<div class="flex justify-center items-center mb-12 relative">
  <div class="w-[270px] sm:w-fit text-center relative flex items-center justify-center border-2 border-mariner-400 rounded-lg px-8 py-4 shadow-neon z-20">
    <h2 class="text-3xl md:text-5xl font-bold text-mariner-100 drop-shadow-neon-mariner px-8 py-2 ">
      {title}
    </h2>
    <div class="absolute inset-0 border-2 border-mariner-400 rounded-lg" />
  </div>
</div>